/* Chữ chớp */
@-webkit-keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

@-moz-keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

@-o-keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

@keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

.test {
    font-size: 35px;
    font-weight: bold;
    -webkit-animation: my 1000ms infinite;
    -moz-animation: my 1000ms infinite;
    -o-animation: my 1000ms infinite;
    animation: my 1000ms infinite;
}

/*test 1*/
@-webkit-keyframes mys {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@-moz-keyframes mys {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@-o-keyframes mys {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@keyframes mys {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

.test1 {
    font-size: 30px;
    font-weight: bold;
    -webkit-animation: mys 1200ms infinite;
    -moz-animation: mys 1200ms infinite;
    -o-animation: mys 1200ms infinite;
    animation: mys 1200ms infinite;
}

/*test 2*/
@-webkit-keyframes myss {
    0% {
        color: rgb(250, 198, 28);
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: rgb(250, 198, 28);
    }
}

@-moz-keyframes myss {
    0% {
        color: rgb(250, 198, 28);
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: rgb(250, 198, 28);
    }
}

@-o-keyframes myss {
    0% {
        color: rgb(250, 198, 28);
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: rgb(250, 198, 28);
        ;
    }
}

@keyframes myss {
    0% {
        color: rgb(250, 198, 28);
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: rgb(250, 198, 28);
    }
}

.test2 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    -webkit-animation: myss 900ms infinite;
    -moz-animation: myss 900ms infinite;
    -o-animation: myss 900ms infinite;
    animation: myss 900ms infinite;
}


/*test 3*/
@-webkit-keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

@-moz-keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

@-o-keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

@keyframes my {
    0% {
        color: rgb(31, 153, 31);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgb(31, 153, 31);
    }
}

.test3 {
    font-size: 35px;
    font-weight: bold;
    -webkit-animation: my 1200ms infinite;
    -moz-animation: my 1200ms infinite;
    -o-animation: my 1200ms infinite;
    animation: my 1200ms infinite;
}